# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / Monodevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# ============ #
# Unity Store  #
# ============ #
Assets/Gizmos.meta
Assets/Gizmos/
Assets/Marmoset.meta
Assets/Marmoset/
Assets/CandelaSSRR.meta
Assets/CandelaSSRR/
Assets/redLights.meta
Assets/redLights/
Assets/Sonic Ether.meta
Assets/Sonic Ether/
Assets/AmplifyTexture.meta
Assets/AmplifyTexture/
ProjectSettings/AmplifySettings.asset
Assets/Plugins.meta
Assets/Plugins/
Assets/Sinuous_SciFi_Signs.meta
Assets/Sinuous_SciFi_Signs/

# ============ #
# Testing      #
# ============ #
Assets/DevTestAssets/
Assets/DevTestAssets.meta
_ReSharper.Alloy-csharp/
Assets/Substances_Free.meta
Assets/Substances_Free/
UnityVS.Alloy.sln.ide/
Assets/UnityVS/
Alloy-csharp.sln.ide/
Assets/UnityVS.meta
Assets/Alloy3Samples
Assets/Alloy3Samples.meta